* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: #e3edf7;
}

.skill-bar {
    position: relative;
    height: 160px;
    width: 160px;
}

.outer-cirlce {
    padding: 20px;
    height: 160px;
    width: 160px;
    border-radius: 50%;
    box-shadow: 6px 6px 10px -1px rgba(0, 0, 0, 0.15),
        -6px -6px 10px -1px rgba(255, 255, 255, 0.7);

}

.inner-cirlce {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 120px;
    width: 120px;
    border-radius: 50%;
    box-shadow: inset 4px 4px 6px -1px rgba(0, 0, 0, 0.2),
        inset -4px -4px 6px -1px rgba(255, 255, 255, 0.7),
        -0.5px -0.5px 0px rgba(255, 255, 255, 1),
        0.5px 0.5px 0px rgba(0, 0, 0, 0.2),
        0px 12px 10px -10px rgba(0, 0, 0, 0.05);
}

#value{
    font-weight: 600;
    color: #555;
}

svg{
    position: absolute;
    top: 0;
    left: 0;
}

circle{
    fill: none;
    stroke: url(#linear);
    stroke-width: 20px;
    stroke-dasharray: 450;
    stroke-dashoffset: 450;
    animation: animate 2s linear forwards;
}

@keyframes animate {
    100%{
        stroke-dashoffset: 230;
    }
}