*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Inter", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.3;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: inherit;
}

img{
    display: block;
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.container {
    max-width: 1220px;
    margin: 0 auto;
    padding: 0 10px;
}

.section-title {
    margin-bottom: 50px;
    font-size: 48px;
    font-weight: 700;
    text-align: center;
}

.header {
    background-color: #151515;
}

.header-main {
    position: absolute;
    left: 0;
    right: 0;
    background-color: transparent;
    z-index: 12;
}

.header__inner {
    display: flex;
    padding-top: 40px;
    padding-bottom: 45px;
    justify-content: space-between;
    align-items: end;
}

.menu__list {
    display: flex;
    gap: 35px;
}

.menu__list-link {
    color: #fff;
    text-transform: uppercase;
    font-weight: 700;
}

.menu__list-link--active {
    color: #0066ff;
}

.footer {
    margin-top: auto;
    padding: 50px 0 32px;
    background-color: #151515;
    color: #fff;
}

.footer__menu {
    display: flex;
    margin-bottom: 50px;
    justify-content: space-around;
}

.footer__menu-list {
    max-width: 250px;
}

.footer__menu-title {
    margin-bottom: 40px;
    font-size: 24px;
    font-weight: 700;
}

.footer__menu-item + .footer__menu-item {
    margin-top: 20px;
}

.app {
    display: flex;
    margin-bottom: 50px;
    justify-content: center;
    gap: 40px;
}

.footer__copy {
    max-width: 806px;
    margin: 0 auto 30px;
    font-size: 12px;
    text-align: center;
}

.copy__nav-list {
    display: flex;
    justify-content: center;
    gap: 40px;
}

.top {
    position: absolute;
    left: 0;
    right: 0;
    color: #fff;
    padding-top: 250px;
    padding-bottom: 50px;
    text-align: center;
    z-index: 5;
}

.title {
    margin-bottom: 40px;
    font-size: 96px;
    font-weight: 700;
}

.top__link {
    display: inline-block;
    max-width: 430px;
    width: 100%;
    padding: 23px;
    background-color: #151515;
    font-size: 36px;
    font-weight: 700;
    text-transform: uppercase;
}

.swiper::after {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(21, 21, 21, 0.3);
    z-index: 1;
}

.swiper-slide {
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom center;
}

.swiper-pagination {
    bottom: 40px !important;
}

.swiper-pagination-bullet {
    width: 120px;
    height: 3px;
    margin: 0 15px !important;
    background-color: #151515;
    border-radius: 0;
    opacity: 1;
}

.swiper-pagination-bullet-active {
    height: 6px;
    background-color: #fff;
}

.why-lease {
    padding: 150px 0;
}

.why-lease__list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 40px;
    text-align: center;
}

.why-lease__item-img {
    margin-bottom: 30px;
}

.why-lease__item-title {
    margin-bottom: 30px;
    font-size: 24px;
    font-weight: 700;
}

.why-lease__item-text {
    text-align: left;
}

.how-does {
    padding-bottom: 150px;
}

.how-does__inner {
    max-width: 600px;
    margin: 0 auto;
}

.how-does-title {
    margin: 50px 0;
    font-size: 24px;
    font-weight: 700;
}

.how-does-list {
    margin: 50px 0 70px;
    counter-reset: myCounter;
}

.how-does-item {
    position: relative;
    width: 270px;
    min-height: 63px;
    margin-left: auto;
    padding: 19px 0 19px 240px;
    list-style-type: none;
    box-sizing: content-box;
}

.how-does-item + .how-does-item {
    margin-top: 40px;
}

.how-does-item::before {
    position: absolute;
    counter-increment: myCounter;
    content: counter(myCounter);
    display: flex;
    width: 100px;
    height: 100px;
    left: 0;
    top: 0;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    background-color: #06f;
    font-size: 48px;
    font-weight: 700;
    color: #fff;
}

.video {
    padding-bottom: 150px;
}

.video__title {
    margin-bottom: 20px;
}

.video__text {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 50px;
    text-align: center;
}

.video__content {
    display: block;
    margin: 0 auto;
}

.important {
    padding-bottom: 150px;
}

.important__title {
    margin-bottom: 20px;
}

.important__text {
    max-width: 580px;
    margin: 0 auto 50px;
}

.important__list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 40px;
}

.contacts {
    padding: 100px 0 150px;
}

.contacts__title {
    margin-bottom: 20px;
}

.contacts__text {
    margin-bottom: 50px;
    padding: 0 100px;
    text-align: center;
    font-weight: 700;
    font-size: 24px;
}

.form {
    display: flex;
    max-width: 580px;
    margin: 0 auto;
    justify-content: space-between;
    flex-wrap: wrap;
}

.form__input {
    display: inline-block;
    margin-bottom: 50px;
    padding: 18px 20px;
    width: 270px;
    border: 1px solid #06f;
    font-family: "Inter", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.3;
    color: #151515;
}

.form__input::placeholder,
.form__textarea::placeholder {
    font-family: "Inter", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.3;
    color: #151515;
    opacity: 0.5;
}

.form__textarea {
    width: 100%;
    height: 290px;
    margin-bottom: 50px;
    padding: 28px 20px;
    border: 1px solid #06f;
    font-family: "Inter", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.3;
    color: #151515;
    resize: none;
}

.form__btn {
    margin: 0 auto;
    padding: 13px 61px;
    text-transform: uppercase;
    color: #fff;
    background-color: #151515;
    font-family: "Inter", sans-serif;
    font-size: 16px;
    font-weight: 400;
    cursor: pointer;
}

.blog {
    padding-bottom: 150px;
}

.blog__items {
    display: grid;
    margin-bottom: 70px;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
}

.blog__item {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.blog__item-img {
    width: 100%;
    margin-bottom: 30px;
}

.blog__item-title {
    flex-basis: 446px;
    font-size: 24px;
    font-weight: 700;
}

.blog__item-link {
    padding: 4px 20px;
    color: #fff;
    background-color: #0066ff;
}

.showmore-link {
    display: block;
    width: 225px;
    margin: 0 auto;
    padding: 13px;
    color: #fff;
    text-transform: uppercase;
    background-color: #151515;
    text-align: center;
}

.choose {
    padding: 100px 0 150px;
}

.tabs__btn {
    display: flex;
    padding: 0 150px;
    padding-bottom: 100px;
    justify-content: space-between;
    gap: 80px;
}

.tabs__content{
    padding-bottom: 100px;
}

.tabs__btn-item {
    padding: 0;
    font-size: 24px;
    font-weight: 700;
    cursor: pointer;
    border: none;
    background-color: transparent;
}

.tabs__btn-item--active {
    color: #0066ff;
}

.tabs__content-item {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 100px 40px;
}

.card {
    text-align: center;
    border: 1px solid #0066ff;
}

.card__img {
}

.card__content{
    padding: 20px 5px;
    border-top: 1px solid #0066ff;
    border-bottom: 1px solid #0066ff;
}

.card__title {
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: 700;
}

.card__text {
    margin-bottom: 20px;
}

.card__price {
    font-size: 24px;
    font-weight: 700;
}

.card__link {
    display: block;
    color: #0066ff;
}
